{% extends 'base/base.html' %}
{% load static %}

{% block title %}Acervo - {{ block.super }}{% endblock %}

{% block content %}

    <section class="hero" style="background-image: url('{% static "base/img/quadropadre.jpg" %}');">
        <div class="hero-overlay">
            <h1>Acervo</h1>
        </div>
    </section>

<div class="acervo-container">
    <h2>Nosso Acervo</h2>
    <p>Explore os artefatos que contam a nossa história. Cada peça lítica, cada caco de cerâmica e cada cachimbo foi encontrado em nosso território (Apodi/RN) e preservado por famílias da comunidade. São as provas vivas da nossa ancestralidade e resistência.</p>

    <div class="filter-buttons">
        <a href="#" class="filter-btn active">Mostrar Todos</a>
        <a href="#" class="filter-btn">Peças Líticas</a>
        <a href="#" class="filter-btn">Cerâmicas</a>
        <a href="#" class="filter-btn">Outros Artefatos</a>
    </div>

    <div class="acervo-grid">
        
        <div class="acervo-card">
            <img src="{% static 'base/img/cachimbos.jpg' %}" alt="Cachimbos de madeira">
            <h3>Cachimbos de madeira</h3>
            <p>Ferramenta de pedra polida, usada tradicionalmente</p>
            <a href="#" class="btn-details">Ver detalhes +</a>
        </div>
        
        <div class="acervo-card">
            <img src="{% static 'base/img/pote.jpg' %}" alt="Pote de Argila (Fragmento)">
            <h3>Pote de Argila (Fragmento)</h3>
            <p>Fragmento de cerâmica com detalhes decorativos</p>
            <a href="#" class="btn-details">Ver detalhes +</a>
        </div>
        
        <div class="acervo-card">
            <img src="{% static 'base/img/luizacantofa.jpg' %}" alt="Fotografia de Luiza Cantofa">
            <h3>Fotografia de Luiza Cantofa</h3>
            <p>Representação de Luiza Cantofa</p>
            <a href="#" class="btn-details">Ver detalhes +</a>
        </div>
        
        <div class="acervo-card">
            <img src="{% static 'base/img/machadinha.jpg' %}" alt="Machadinha Polida (Pedra)">
            <h3>Machadinha Polida (Pedra)</h3>
            <p>Ferramenta de pedra polida, usada tradicionalmente</p>
            <a href="#" class="btn-details">Ver detalhes +</a>
        </div>
        
        <div class="acervo-card">
            <img src="{% static 'base/img/preguica.jpg' %}" alt="Preguiça feita de coco">
            <h3>Preguiça feita de coco</h3>
            <p>Fragmento de cerâmica com detalhes decorativos</p>
            <a href="#" class="btn-details">Ver detalhes +</a>
        </div>
        
        <div class="acervo-card">
            <img src="{% static 'base/img/pilao.jpg' %}" alt="Pilão feito de pedra">
            <h3>Pilão feito de pedra</h3>
            <p>Fragmento de cerâmica com detalhes decorativos</p>
            <a href="#" class="btn-details">Ver detalhes +</a>
        </div>
        
    </div> </div> {% endblock %}