{% extends 'base/base.html' %}
{% load static %}

{# Este bloco substitui o <title> do base.html #}
{% block title %}Museu Luiza Cantofa - História e Cultura Colonial{% endblock %}

{# Este bloco insere o conteúdo principal dentro da tag <main> do base.html #}
{% block content %}
    <section class="hero" style="background-image: url('{% static "base/img/NovaImgTelaHome.jpg" %}');">
        <div class="hero-overlay"></div>
    </section>

    <section class="about">
        <div class="about-content">
            <div class="about-image">
                <img src="{% static 'base/img/Img_home.jpg' %}" alt="Vista do museu e paisagem rural">
            </div>
            <div class="about-text">
                <h2>Um pouco sobre</h2>
                    <p>Bem-vindo ao Museu Indígena Luiza Cantofa, reconhecido como o primeiro museu indígena do Rio Grande do Norte. Fundado em 2013 pela liderança e cacica Lúcia Paiacu Tabajara, o museu é uma entidade cultural vinculada ao Centro Histórico Cultural Tapuias Paiacus da Lagoa do Apodi (CHCTPLA).
                    <br>A instituição dedica-se ao resgate e à reconstrução da cultura do povo Tapuia Paiacu de Apodi. O nome homenageia Luiza Cantofa, uma das líderes indígenas dos Paiacus na revolta de 1825. Seu acervo reúne peças líticas, como machadinhas, cachimbos e pilões de pedra, além de peças de cerâmica, encontradas em Apodi e região.
                    </p>
            </div>
        </div>
    </section>

    <section class="exhibitions">
        <div class="exhibitions-content">
            <h2>Exibições</h2>
            <div style="height: 30px"></div>
            <div class="about-image">
                <img src="{% static 'base/img/Img_home.jpg' %}" alt="Vista do museu e paisagem rural">
            </div>
            <div class="about-text">
                    <p>Bem-vindo ao Museu Indígena Luiza Cantofa, reconhecido como o primeiro museu indígena do Rio Grande do Norte. Fundado em 2013 pela liderança e cacica Lúcia Paiacu Tabajara, o museu é uma entidade cultural vinculada ao Centro Histórico Cultural Tapuias Paiacus da Lagoa do Apodi (CHCTPLA).
                    <br>A instituição dedica-se ao resgate e à reconstrução da cultura do povo Tapuia Paiacu de Apodi. O nome homenageia Luiza Cantofa, uma das líderes indígenas dos Paiacus na revolta de 1825. Seu acervo reúne peças líticas, como machadinhas, cachimbos e pilões de pedra, além de peças de cerâmica, encontradas em Apodi e região.
                    </p>
            </div>
            <p class="exhibitions-more">
                Para ver mais exibições: <a href="{% url 'acervo' %}" class="acervo-link">Acervo</a>
            </p>
        </div>
    </section>

    <section>
        <h2 style="font-family: 'saira condensed', sans-serif; font-weight: 600; font-size: 2.5em; text-align: center; margin-top: 50px;">Parceiros</h2>
        <img src="{% static 'base/img/LOGOMARCA_UERN_PNG/Parceria Museu.svg' %}" alt="Banner de parceiros" style="margin: 0 auto;">
    </section>
{% endblock %}
<!--id="partners-banner"-->